
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-submit").click(function () {
                $.ajax({
                    type: "post",
                    url: "Login",
                    dataType: "json",
                    data: $("#form-log").serialize(),
                    success: function (msg) {
                        alert('登录成功');
                    }
                })
            })
        })
    </script>
    <div class="layui-container fly-marginTop">
        <div class="fly-panel fly-panel-user" pad20>
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li class="layui-this">登入</li>
                    <li><a href="/User/Register">注册</a></li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form layui-form-pane">
                            <form method="post" id="form-log">
                                <div class="layui-form-item">
                                    <label for="email" class="layui-form-label">邮箱</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="email" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="password" class="layui-form-label">密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <br /><br />
                                <div class="layui-form-item">
                                    <button id="btn-submit" class="layui-btn" lay-filter="*" lay-submit>立即登录</button>
                                    <span style="padding-left:20px;">
                                        <a href="/User/Forgetpwd">忘记密码？</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>